.App {
  text-align: center;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
}

.show-display {
  border-color: black;
  grid-column-start: 2;
  grid-row-start: 2;

}

.tvShowList {
  grid-column-start: 1;
}

.filter {
  grid-column-start: 2;
}
